@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee+Shade|Cabin+Sketch|Codystar|DM+Sans|Fredericka+the+Great|Hind|Josefin+Sans|Just+Another+Hand|Libre+Barcode+128+Text|Lilita+One|Love+Ya+Like+A+Sister|Nanum+Gothic|Nanum+Pen+Script|Oxygen|Quicksand|Rubik|Schoolbell|Staatliches|Thasadith&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
