.CoreSearch {
  text-align: center;
  background-color: #282c34;
  /* background: rgb(74,69,148);
  background: linear-gradient(90deg, rgba(74,69,148,1) 0%, rgba(9,9,121,1) 35%, rgba(40,44,52,1) 100%);  */
}

.CoreSearch .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.CoreSearch .container .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.CoreSearch .container .row .btn {
  margin: 5px;
}


.CoreSearch .container .row .col .card {
  color: rgb(33, 37, 41);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.CoreSearch .container header {
  font-size: calc(25px + 2vmin);
}
